backend/.env.example
venv/
backend/venv/
node_modules/
frontend/node_modules/
.env
private.pem
__pycache__/
*.pyc
dist/
build/
.env
*.pem
private.pem
public.pem
deployed-addresses.json
__pycache__/
*.pyc
.pytest_cache/
.coverage
venv/
.venv/
frontend/eslint.config.js
~$cureVerse_Deliverable1.docx
frontend/node_modules/.package-lock.json
frontend/package-lock.json
frontend/node_modules/.vite/deps/_metadata.json
/frontend/node_modules
